.changes{
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0,0,0,.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.changes form{
    width: 100%;
}
.title{
    margin: 20px 0;
    border-radius: 20px;
    padding: 10px;
    background: white;
    width: 40%;
    margin-left: 30%;
}
.container-fluid{
    margin-top: 20px;
}
h2, h3, h4{
    cursor: default;
}
.button-wrapper{
    display: flex;
    flex-wrap: wrap;
    float: right;
}
.table{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.box{
    width: 45%;
    background:white;
    border:5px solid #03a5fc;
    margin-top:10px;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    transition: .5s;
}
.box:hover{
    scale: 1.1;
}
.button{
    background: transparent;
}
.button i{
    margin-right: 15px;
    font-size: 1.4em;
}
.button a{
    width: 45px;
    display: flex;
    transition: .5s;
    overflow: hidden;
}
.button  a:hover{
    width: 130px;
}
.number{
    background: #353535;
    color: white;
    padding: 10px;
}
.subject{
    padding: 50px;
}